<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net46" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net46" />
  <package id="GreenPipes" version="1.0.10" targetFramework="net46" />
  <package id="MassTransit" version="3.5.7" targetFramework="net46" />
  <package id="MassTransit.CastleWindsor" version="3.5.7" targetFramework="net46" />
  <package id="MassTransit.RabbitMQ" version="3.5.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net46" />
  <package id="NewId" version="3.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net46" />
</packages>