<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--TrackLog过滤器开关-->
    <add key="TrackLogFilterEnabled" value="true" />
    <!--SnakeApi服务 验签-->
    <add key="SnakeApi" value="SNAKE_API" />
    <add key="SnakeApiSecret" value="1!2@3#4$5" />
    <!--Snake.Api服务 接口地址-->
    <add key="SnakeServerApi" value="http://localhost:50424" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>