<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="snake.service" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="RabbitMQ.Connection" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <appSettings>
    <add key="MongConnectionString" value="mongodb://localhost:27017/SnakeDbTest/?MaximumPoolSize=500;socketTimeoutMS=2000;MinimumPoolSize=1;waitQueueTimeoutMS=300;waitQueueMultiple=10;ConnectionLifetime=30000;ConnectTimeout=30000;Pooled=true" />
  </appSettings>
  
  <!--************************** snake.Service Settings ********************** -->
  <snake.service>
    <add key="snake.serviceName" value="SnakeConsumer" />
    <add key="snake.serviceDisplayName" value="Snake Consumer Server" />
    <add key="snake.serviceDescription" value="Snake Consumer Server" />
  </snake.service>

  <!--************************* RabbitMQ Connection Settings ****************** -->
  <RabbitMQ.Connection>
    <add key="RabbitMQ.HostName" value="localhost" />
    <add key="RabbitMQ.Port" value="5670" />
    <add key="RabbitMQ.UserName" value="SmsUser" />
    <add key="RabbitMQ.Password" value="haozhuo2015" />
    <add key="RabbitMQ.VirtualHost" value="SmsTest" />
    <add key="RabbitMQ.QueueName" value="SmsTestQueue" />
    <!--`消费者个数-->
    <add key="RabbitMQ.ConsumerNum" value="4" />
    <!--重试次数-->
    <add key="RabbitMQ.UseRetryNum" value="3" />
  </RabbitMQ.Connection>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.83" newVersion="1.1.0.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.17" newVersion="3.0.1.17" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>